<pre class="title big" data-language="ruby"><%= @challenge.title %></pre>
<p class="description"><%= h @challenge.description %></p>
<form action="/game/answer" method="post">
  <%= hidden_field_tag :game_challenge_id, @game_challenge.id %>
  <input type="text" name="console[code]" id="console" value="<%= @game_challenge.last_answer %>" />
</form>
<pre data-language='ruby'><%= @game_challenge.code_challenge %></pre>
<% if flash[:error] and @game_challenge and @game_challenge.last_compiling_error %>
 <div id="compiled-challenge">
<big>
 <em>Your compiled code with errors...</em>
</big>
<pre class="compiled" data-language='ruby'>
<%= @game_challenge.compiled_challenge %>
</pre>
</div>
<% end %>
<small>
  <p class="help description">
    <%= @challenge.code_help %>
  </p>
</small>
<%= image_tag @challenge.image_url, :class => "assistant" %></a>
