<!DOCTYPE html>
<html>
<head>
  <title>Churumelas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <% if Rails.env.production? %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35548893-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
   </script>
 <% end %>
</head>
<body>
  <div id="logo">
    <a href="/game/start"><%= image_tag "logo-#{ flash[:error] ? "red" : flash[:message] ? "green" : "yellow"}.png" %></a>
    
  </div>
  <% flash.each do |key, value| 
      next if value.blank? %>
    <div class="box <%= key %>">
      <p class="center"><%= value %></p>
    </div>
  <% end %>
<%= yield %>
<%= link_to "About us", "/about_us", :class => "footer left" if not params[:action] == "about_us" %>
</body>
</html>
